---
title: [Index Title]
---

<div class="container">
<h1>Title</h1>
  <div class="child left">
    <p>Content for child left</p>
  </div>
  <div class="child right">
    <p>Content for child right</p>
    <button class="button">Esto es un botón</button>
  </div>
</div>
